.ff-container {
  cursor: pointer;
}

.ff-container .overlay {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 2;
}

.ff-container .ff-canvas {
  width: 100%;
}

